<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Menu</h1>
  </header>
  <main>
      <div class="search">
        <input type="text" name="item" id="item" placeholder="Digite um item:">
        <input type="button" value="Enviar" id="btn">
      </div>
      <div id="res">
        
      </div>
  </main>
  <footer>
      <p>&copy; Henry Thomaz</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>