* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../assets/background.jpg") no-repeat fixed center;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 15px;
}
header {
  background-color: #f8efb7;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25pt;
  color: #572a20;
  border-radius: 10px;
  border: 2px solid #908279;
}
main {
  background: #fff fixed center;
  width: 50%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  box-shadow: 5px 5px 6px 2px #4b504f;
  border-radius: 5px;
}
#res {
  width: 50%;
  height: 50px;
  display: flex;
  
}
footer {
  width: 100%;
  height: 80px;
  padding-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
